@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

*
{
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

body
{
    background-color: #0D3332;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 50px 0;
}

h1
{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 10px;
    color: white;
    font-family: 'Anton', sans-serif;
}

form
{
    text-align: center;
}

.card
{
    background-color: white;
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #10403F;
}

.card > label
{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.card > input[type="text"]
{
    outline: none;
    border: none;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
    padding: 5px 20px;
    text-align: center;
    display: none;
}
.card2
{
    margin-top: 10px;
}

.card > button
{
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 5px 20px;
    transition: .2s ease-in-out;
    font-size: 0.8rem;
    margin-top: 20px;
}

/*.card > button:hover
{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}*/

.card > button:active
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    transform: scale(0.98);
}

.aux
{
    transition: .2s ease-in-out;
}

.locais
{
    display: none;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    filter: opacity(1);
}

.locais > button
{
    height:200px;
    width:100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}